html, body{
	height: 100%;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	color: #444;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: bold;
	color: #444;
}

.full-height{
	height: 100%;
}

.full-width{
	width: 100%;
}

.inline>*{
	display: inline-block;
}

.top-bar{
	height:60px;
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 0px 10px #ddd;
}

.content{
	height: calc(100% - 60px);
}

.top-bar input {
	height: 58px;
	margin: 0px;
	border: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
}

.top-bar input:focus, .top-bar input:active{
    outline: none;
}

.top-bar button:focus, .top-bar button:active{
    outline: none;
}

#btn-record.start{
	height: 30px;
	width: 30px;
	background-color: #e00;
	border-radius: 50%;
	border: 8px solid #e00;
	transition: all 0.1s ease-in-out;
}

#btn-record:hover{
	border-color: #e00;
	background-color: #e55;
}

.top-bar .timer{
	text-align: right;
	height: 60px;
}

.top-bar .timer>*{
	line-height: 60px;
	vertical-align: middle;
	display: inline-block;
}

#timer-text{
	font-family: 'Open Sans', sans-serif;
	color: #777;
	font-size: 22px;
	margin-right: 8px;
	line-height: 60px;
	height: 60px;
}

.right-col, .left-col{
	height: 100%;
	overflow: auto;
}
.right-col{
	border-left: 1px solid #ddd;
}

.top-bar .tags {
	line-height: 60px;
}

.top-bar .tags span{
	font-size: 20px;
}

.top-bar .tags > *{
	vertical-align: middle;
}

.top-bar .tags .tag{
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	margin-left: 5px;
	background-color: #707;
	border-radius: 10px;
	height: 20px;
	padding: 2px 10px;
	color:#fff;
	line-height: 18px;
}

.tag.c-1{
	background-color: #707;
}

.tag.c-2{
	background-color: #ef9f14;
}

.top-bar button {
	height: 58px;
	background: none;
	border: 0px;
}

.top-bar button:hover {
	background: #eeeeee;
}

.top-bar input[name="search"] {
	line-height: 58px;
	height: 40px !important;
	border: 1px solid #5bc0de;
	vertical-align: middle;
	display: inline-block;
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
}


.top-bar input[name="search"]:focus, .top-bar input[name="search"]:hover  {
	background-color: #F0FAFF;
}


#btn-record.stop {
	height: 30px;
	width: 30px;
	background-color: #3c3c3c;
	border: 8px solid #3c3c3c;
	transition: all 0.1s ease-in-out;
}

.predavanja-seznam{
	margin-top: 30px;
}

.predavanja-entry{
	border-bottom: 1px solid #eee;
}

.predavanja-entry:hover{
	cursor: pointer;
	background-color: #eee;
}

.predavanja-entry > div{
	height: 60px;
	line-height: 60px;
}

.predavanja-entry > div > *{
	display: inline-block;
	vertical-align: middle;
}

.predavanja-entry .tag{
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	border-radius: 10px;
	height: 20px;
	padding: 2px 10px;
	color:#fff;
	line-height: 18px;
	margin-left: 8px;
}

.predavanja-entry .title{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 26px;
	color:#444;
}


.predavanja-entry .timestamp{
	margin-left: 10px;
	line-height: 24px;
}

.predavanja-entry .time-icon{
	font-size: 12px;
	margin-left: 6px;
}

.predavanja-entry .datum{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 12px;
	color:#666;
}

.predavanja-entry .ura, .predavanja-entry .dot{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 12px;
	color:#666;
}

.predavanja-entry .trajanje{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	color:#666;
}

.btn-add{
	line-height: 58px;
	color: #17d200;
}

.btn-add:hover{
	cursor: pointer;
	color: #13af00;
}